my-env


#django

/backend/*.log
/backend/*.pot
/backend/*.pyc
/backend/backend/__pycache__/
/backend/base/__pycache__/
/backend/base/migrations/__pycache__/
/backend/local_settings.py
/backend/db.sqlite3
/backend/db.sqlite3-journal
/backend/static/images


/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build/
